Flask==2.3.3
gunicorn==21.2.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
Pillow==10.3.0
matplotlib==3.8.4
fpdf==1.7.2
nibabel==5.2.1
tensorflow-cpu==2.20.0
keras==3.12.1
protobuf==5.28.3
bm3d==4.0.3
